{{ define "legacy_main" }}
{{ if .Params.hideSidebar }}
<div id="content" class="hfeed" style="width: 940px;" data-pagefind-body>
  {{ $imgMatches := findRE `(?is)<img[^>]+src="([^"]+)"[^>]*>` .Content 1 }}
  {{ $imgSrc := "" }}
  {{ if gt (len $imgMatches) 0 }}
    {{ $imgTag := index $imgMatches 0 }}
    {{ $srcParts := findRE `src="([^"]+)"` $imgTag 1 }}
    {{ if gt (len $srcParts) 0 }}
      {{ $imgSrc = replaceRE `^src="([^"]+)"$` `$1` (index $srcParts 0) }}
    {{ end }}
  {{ end }}
  {{ partial "pagefind_meta.html" (dict "src" $imgSrc "date" (.Date.Format "2006-01-02T15:04:05Z07:00")) }}
  <div class="breadcrumb">You are here: <a href="/" title="View Home">Home</a> / {{ .Title }}</div>
  <div class="post page type-page status-publish hentry">
    <h1 class="entry-title">{{ .Title }}</h1>
    <div class="entry-content">
      {{ .Content }}
    </div>
  </div>
</div>
{{ else }}
<div id="content-sidebar-wrap">
  <div id="content" class="hfeed" data-pagefind-body>
    {{ $imgMatches := findRE `(?is)<img[^>]+src="([^"]+)"[^>]*>` .Content 1 }}
    {{ $imgSrc := "" }}
    {{ if gt (len $imgMatches) 0 }}
      {{ $imgTag := index $imgMatches 0 }}
      {{ $srcParts := findRE `src="([^"]+)"` $imgTag 1 }}
      {{ if gt (len $srcParts) 0 }}
        {{ $imgSrc = replaceRE `^src="([^"]+)"$` `$1` (index $srcParts 0) }}
      {{ end }}
    {{ end }}
    {{ partial "pagefind_meta.html" (dict "src" $imgSrc "date" (.Date.Format "2006-01-02T15:04:05Z07:00")) }}
    <div class="breadcrumb">You are here: <a href="/" title="View Home">Home</a> / {{ .Title }}</div>
    <div class="post page type-page status-publish hentry">
      <h1 class="entry-title">{{ .Title }}</h1>
      <div class="entry-content">
        {{ .Content }}
      </div>
    </div>
  </div>
  <div data-pagefind-ignore>
    {{ partial "legacy/sidebar.html" . }}
  </div>
</div>
<div data-pagefind-ignore>
  {{ partial "legacy/sidebar_alt.html" . }}
</div>
{{ end }}
{{ end }}
