<div id="sidebar-alt" class="sidebar widget-area">
<div id="execphp-15" class="widget widget_execphp"><div class="widget-wrap"><h4 class="widgettitle">2025 May Outing</h4>
			<div class="execphpwidget"><form action="https://www.paypal.com/paypalme/BSATroop55?locale.x=en_US" >
  
  <table>
    <tr>
      <td>
        <input type="hidden" name="on0" value="Scout Name or Family Name"/>
        Scout Name or Family Name
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="os0" maxLength="200" />
      </td>
    </tr>
  </table>
  <input type="hidden" name="currency_code" value="USD" />
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Buy Now" />
</form></div>
		</div></div>
<div id="execphp-6" class="widget widget_execphp"><div class="widget-wrap"><h4 class="widgettitle">Annual Troop 55 Dues 2024-2025 $50 ($100 after Dec 31, 2024)</h4>
			<div class="execphpwidget"><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="EUZ46H2PSJPJ2" />
  <table>
    <tr>
      <td>
        <input type="hidden" name="on0" value="Scout or Family Name"/>
        Scout or Family Name
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="os0" maxLength="200" />
      </td>
    </tr>
  </table>
  <input type="hidden" name="currency_code" value="USD" />
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Buy Now" />
</form></div>
		</div></div>
<div id="execphp-14" class="widget widget_execphp"><div class="widget-wrap"><h4 class="widgettitle">REI Tent Payment</h4>
			<div class="execphpwidget"><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="A2L6C479BQ6T8" />
  <table>
    <tr>
      <td>
        <input type="hidden" name="on0" value="Scout or Family Name"/>
        Scout or Family Name
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="os0" maxLength="200" />
      </td>
    </tr>
  </table>
  <input type="hidden" name="currency_code" value="USD" />
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Buy Now" />
</form></div>
		</div></div>
<div id="execphp-12" class="widget widget_execphp"><div class="widget-wrap"><h4 class="widgettitle">2023 NPS Volunteer Award</h4>
			<div class="execphpwidget">
<br/>
<a href="https://weownadventure.com/troop-55-earn-volunteer-award-from-the-north-district-of-the-george-washington-memorial-parkway-nps/"><img class="aligncenter wp-image-3464" alt="Troop-55-NPS-Award-Certificate" src="/wp-content/uploads/2023/05/20230519_181204.jpg" width="178" height="228"></a>
</div>
		</div></div>
<div id="execphp-7" class="widget widget_execphp"><div class="widget-wrap"><h4 class="widgettitle">2015 Volunteer Fairfax Award to Troop 55</h4>
			<div class="execphpwidget">
<br/>
<a href="/2015/04/troop-55-won-the-2015-fairfax-volunteer-service-youth-group-award/"><img class="aligncenter wp-image-3464" alt="Troop-55-Award-Certificate" src="/wp-content/uploads/2015/04/Troop-55-Award-Certificate-300x263.png" width="178" height="157"></a>

 </div>
		</div></div>
<div id="execphp-5" class="widget widget_execphp"><div class="widget-wrap"><h4 class="widgettitle">SignUpGenius Items</h4>
			<div class="execphpwidget">
Troop 55 uses SignUpGenius to manage RSVPs for activities.  Below are the most recent items:

<li><a href="https://www.signupgenius.com/go/904084aabaf22a64-troop8">Troop 55 2019-2020 High Adventure</a>

<li><a href="https://www.signupgenius.com/go/904084aabaf22a64-12152018">12/15 Adopt a Highway</a>

<li><a href="https://www.signupgenius.com/go/904084aabaf22a64-wreaths4">12/15  Wreath Across America</a>

<li><a href="https://www.signupgenius.com/go/904084aabaf22a64-flag">12/19 Holiday at Senior Center</a>

<p></p>

</html>
</div>
		</div></div>
<div id="execphp-11" class="widget widget_execphp"><div class="widget-wrap"><h4 class="widgettitle">Troop 55 High Adventure History!</h4>
			<div class="execphpwidget">
<br/>
<a href="/troop-55-high-adventure-history/"><img class="aligncenter wp-image-3464" alt="high-adventure" src="/wp-content/uploads/2016/11/high-adventure.jpg" width="178" height="178"></a>

 </div>
		</div></div>
<div id="text-5" class="widget widget_text"><div class="widget-wrap"><h4 class="widgettitle">Links</h4>
			<div class="textwidget">
		<!-- start[WP Render Blogroll Links 2.1.7] -->
<div class="linkcat"><h2 class="linkcattitle"> </h2>
			<ul class="xoxo blogroll" id="catid">
				<li class="brlink"><a href="https://ncacbsa.site-ym.com/donations/donate.asp?id=7085" title="Donate to National Capital Area Council">Donate to Scouting</a></li>
				<li class="brlink"><a href="http://www.ncacbsa.org/">National Capital Area Council</a></li>
				<li class="brlink"><a href="http://www.scouting.org/filestore/pdf/34283.pdf">Placement of Patches on Uniforms</a></li>
				<li class="brlink"><a href="http://www.scouting.org/scoutstrongpala.aspx" title="The SCOUTStrong Presidential Active Lifestyle Award Challenge">ScoutStrong PALA</a></li>
				<li class="brlink"><a href="http://www.scouting.org/stem/Awards/BoyScouts.aspx" title="BSA STEM Nova/SuperNova Award Information">STEM / Nova / SuperNova</a></li>
				<li class="brlink"><a href="http://thescoutzone.org/">The Scout Zone</a></li>

			</ul>
		</div>


		<!-- end[WP Render Blogroll Links 2.1.7] --></div>
		</div></div>
<div id="text-27" class="widget widget_text"><div class="widget-wrap"><h4 class="widgettitle">Important Emails</h4>
			<div class="textwidget"><p>Scoutmaster(55G):<a href="mailto:bsa55scoutmaster@gmail.com">Gary Pan</a><br />
Scoutmaster(55B):<a href="mailto:yejeff@hotmail.com">Jeff Ye</a><br />
Board of Review:<a href="mailto:troop55bor@gmail.com">Troop55BOR</a><br />
Committee Chair:<a href="mailto:troop55commchair@gmail.com">Troop55CommChair</a><br />
Activities:<a href="mailto:troop55activities@gmail.com">Troop55Activities</a><br />
Webmaster:<a href="mailto:troop55webmaster@gmail.com">Troop55Webmaster</a><br />
<!---Communications:<a href="javascript:DeCryptX('2v0r0i2u1i2c1/3e2c1s0b3h1s2B0g0m3d1j2n312e0o0m')">Trish Barber</a>---> </p>
</div>
		</div></div>
<div id="archives-3" class="widget widget_archive"><div class="widget-wrap"><h4 class="widgettitle">Site Archives</h4>
		<label class="screen-reader-text" for="archives-dropdown-3">Site Archives</label>
		<select id="archives-dropdown-3" name="archive-dropdown">
			
			<option value="">Select Month</option>
				<option value='/2025/08/'> August 2025 &nbsp;(2)</option>
	<option value='/2025/05/'> May 2025 &nbsp;(1)</option>
	<option value='/2025/04/'> April 2025 &nbsp;(1)</option>
	<option value='/2025/03/'> March 2025 &nbsp;(1)</option>
	<option value='/2025/02/'> February 2025 &nbsp;(1)</option>
	<option value='/2025/01/'> January 2025 &nbsp;(1)</option>
	<option value='/2024/12/'> December 2024 &nbsp;(1)</option>
	<option value='/2024/10/'> October 2024 &nbsp;(2)</option>
	<option value='/2024/08/'> August 2024 &nbsp;(2)</option>
	<option value='/2024/05/'> May 2024 &nbsp;(1)</option>
	<option value='/2024/04/'> April 2024 &nbsp;(2)</option>
	<option value='/2024/03/'> March 2024 &nbsp;(1)</option>
	<option value='/2024/02/'> February 2024 &nbsp;(1)</option>
	<option value='/2024/01/'> January 2024 &nbsp;(1)</option>
	<option value='/2023/12/'> December 2023 &nbsp;(1)</option>
	<option value='/2023/10/'> October 2023 &nbsp;(2)</option>
	<option value='/2023/09/'> September 2023 &nbsp;(1)</option>
	<option value='/2023/08/'> August 2023 &nbsp;(1)</option>
	<option value='/2023/05/'> May 2023 &nbsp;(1)</option>
	<option value='/2023/04/'> April 2023 &nbsp;(2)</option>
	<option value='/2023/03/'> March 2023 &nbsp;(1)</option>
	<option value='/2023/02/'> February 2023 &nbsp;(1)</option>
	<option value='/2023/01/'> January 2023 &nbsp;(1)</option>
	<option value='/2022/12/'> December 2022 &nbsp;(1)</option>
	<option value='/2022/11/'> November 2022 &nbsp;(1)</option>
	<option value='/2022/10/'> October 2022 &nbsp;(5)</option>
	<option value='/2022/09/'> September 2022 &nbsp;(1)</option>
	<option value='/2022/08/'> August 2022 &nbsp;(1)</option>
	<option value='/2022/07/'> July 2022 &nbsp;(1)</option>
	<option value='/2022/05/'> May 2022 &nbsp;(1)</option>
	<option value='/2022/03/'> March 2022 &nbsp;(2)</option>
	<option value='/2022/01/'> January 2022 &nbsp;(3)</option>
	<option value='/2021/11/'> November 2021 &nbsp;(1)</option>
	<option value='/2021/10/'> October 2021 &nbsp;(2)</option>
	<option value='/2021/09/'> September 2021 &nbsp;(1)</option>
	<option value='/2021/07/'> July 2021 &nbsp;(1)</option>
	<option value='/2021/05/'> May 2021 &nbsp;(1)</option>
	<option value='/2021/04/'> April 2021 &nbsp;(2)</option>
	<option value='/2021/03/'> March 2021 &nbsp;(1)</option>
	<option value='/2021/02/'> February 2021 &nbsp;(1)</option>
	<option value='/2020/11/'> November 2020 &nbsp;(1)</option>
	<option value='/2020/10/'> October 2020 &nbsp;(4)</option>
	<option value='/2020/05/'> May 2020 &nbsp;(1)</option>
	<option value='/2020/03/'> March 2020 &nbsp;(4)</option>
	<option value='/2020/02/'> February 2020 &nbsp;(3)</option>
	<option value='/2019/06/'> June 2019 &nbsp;(3)</option>
	<option value='/2019/01/'> January 2019 &nbsp;(2)</option>
	<option value='/2018/11/'> November 2018 &nbsp;(2)</option>
	<option value='/2018/09/'> September 2018 &nbsp;(1)</option>
	<option value='/2018/08/'> August 2018 &nbsp;(1)</option>
	<option value='/2018/01/'> January 2018 &nbsp;(1)</option>
	<option value='/2017/10/'> October 2017 &nbsp;(3)</option>
	<option value='/2017/09/'> September 2017 &nbsp;(1)</option>
	<option value='/2017/08/'> August 2017 &nbsp;(6)</option>
	<option value='/2017/04/'> April 2017 &nbsp;(1)</option>
	<option value='/2017/01/'> January 2017 &nbsp;(4)</option>
	<option value='/2016/11/'> November 2016 &nbsp;(4)</option>
	<option value='/2016/09/'> September 2016 &nbsp;(2)</option>
	<option value='/2016/06/'> June 2016 &nbsp;(3)</option>
	<option value='/2016/04/'> April 2016 &nbsp;(2)</option>
	<option value='/2016/03/'> March 2016 &nbsp;(1)</option>
	<option value='/2016/01/'> January 2016 &nbsp;(3)</option>
	<option value='/2015/12/'> December 2015 &nbsp;(6)</option>
	<option value='/2015/11/'> November 2015 &nbsp;(5)</option>
	<option value='/2015/10/'> October 2015 &nbsp;(5)</option>
	<option value='/2015/09/'> September 2015 &nbsp;(9)</option>
	<option value='/2015/08/'> August 2015 &nbsp;(1)</option>
	<option value='/2015/06/'> June 2015 &nbsp;(7)</option>
	<option value='/2015/05/'> May 2015 &nbsp;(9)</option>
	<option value='/2015/04/'> April 2015 &nbsp;(9)</option>
	<option value='/2015/03/'> March 2015 &nbsp;(8)</option>
	<option value='/2015/02/'> February 2015 &nbsp;(2)</option>
	<option value='/2015/01/'> January 2015 &nbsp;(8)</option>
	<option value='/2014/12/'> December 2014 &nbsp;(3)</option>
	<option value='/2014/11/'> November 2014 &nbsp;(6)</option>
	<option value='/2014/10/'> October 2014 &nbsp;(6)</option>
	<option value='/2014/09/'> September 2014 &nbsp;(5)</option>
	<option value='/2014/08/'> August 2014 &nbsp;(4)</option>
	<option value='/2014/07/'> July 2014 &nbsp;(3)</option>
	<option value='/2014/06/'> June 2014 &nbsp;(7)</option>
	<option value='/2014/05/'> May 2014 &nbsp;(10)</option>
	<option value='/2014/04/'> April 2014 &nbsp;(5)</option>
	<option value='/2014/03/'> March 2014 &nbsp;(2)</option>
	<option value='/2014/01/'> January 2014 &nbsp;(3)</option>
	<option value='/2013/12/'> December 2013 &nbsp;(1)</option>
	<option value='/2013/11/'> November 2013 &nbsp;(2)</option>
	<option value='/2013/10/'> October 2013 &nbsp;(3)</option>
	<option value='/2013/09/'> September 2013 &nbsp;(2)</option>
	<option value='/2013/07/'> July 2013 &nbsp;(2)</option>
	<option value='/2013/06/'> June 2013 &nbsp;(2)</option>
	<option value='/2013/05/'> May 2013 &nbsp;(2)</option>
	<option value='/2013/04/'> April 2013 &nbsp;(4)</option>
	<option value='/2013/03/'> March 2013 &nbsp;(1)</option>
	<option value='/2012/11/'> November 2012 &nbsp;(2)</option>
	<option value='/2012/10/'> October 2012 &nbsp;(2)</option>
	<option value='/2012/09/'> September 2012 &nbsp;(5)</option>
	<option value='/2012/07/'> July 2012 &nbsp;(4)</option>
	<option value='/2012/06/'> June 2012 &nbsp;(2)</option>
	<option value='/2012/05/'> May 2012 &nbsp;(2)</option>
	<option value='/2012/04/'> April 2012 &nbsp;(3)</option>
	<option value='/2012/03/'> March 2012 &nbsp;(1)</option>
	<option value='/2012/02/'> February 2012 &nbsp;(1)</option>
	<option value='/2012/01/'> January 2012 &nbsp;(2)</option>
	<option value='/2011/12/'> December 2011 &nbsp;(4)</option>
	<option value='/2011/10/'> October 2011 &nbsp;(1)</option>
	<option value='/2011/09/'> September 2011 &nbsp;(1)</option>

		</select>

<script type="text/javascript">
/* <![CDATA[ */
(function() {
	var dropdown = document.getElementById( "archives-dropdown-3" );
	function onSelectChange() {
		if ( dropdown.options[ dropdown.selectedIndex ].value !== '' ) {
			document.location.href = this.options[ this.selectedIndex ].value;
		}
	}
	dropdown.onchange = onSelectChange;
})();
/* ]]> */
</script>
			</div></div>
<div id="search-3" class="widget widget_search"><div class="widget-wrap"><h4 class="widgettitle">Search Our Site</h4>

		<form method="get" class="searchform" action="/search/" onsubmit="if (this.q.value == 'Search this website &hellip;') { this.q.value = ''; }" >
			<input type="text" value="Search this website &hellip;" name="q" class="s" onfocus="if (this.value == 'Search this website &hellip;') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search this website &hellip;';}" />
			<input type="submit" class="searchsubmit" value="Search" />
		</form>
	</div></div>
</div></div><!-- end .wrap -->
