<div class="header-tools">
  <div class="utility-widget utility-search">
    <div id="search-3" class="widget widget_search"><div class="widget-wrap"><h4 class="widgettitle">Search Our Site</h4>
      <form method="get" class="searchform" action="/search/" onsubmit="if (this.q.value == 'Search this website &hellip;') { this.q.value = ''; }">
        <input type="text" value="Search this website &hellip;" name="q" class="s" onfocus="if (this.value == 'Search this website &hellip;') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search this website &hellip;';}" />
        <input type="submit" class="searchsubmit" value="Search" />
      </form>
    </div></div>
  </div>
  <div class="utility-widget utility-archives">
    <div id="archives-3" class="widget widget_archive"><div class="widget-wrap"><h4 class="widgettitle">Site Archives</h4>
      <label class="screen-reader-text" for="archives-dropdown-3">Site Archives</label>
      <select id="archives-dropdown-3" name="archive-dropdown">
          <option value="">Select Month</option>
          <option value='/2025/08/'> August 2025 &nbsp;(2)</option>
          <option value='/2025/05/'> May 2025 &nbsp;(1)</option>
          <option value='/2025/04/'> April 2025 &nbsp;(1)</option>
          <option value='/2025/03/'> March 2025 &nbsp;(1)</option>
          <option value='/2025/02/'> February 2025 &nbsp;(1)</option>
          <option value='/2025/01/'> January 2025 &nbsp;(1)</option>
          <option value='/2024/12/'> December 2024 &nbsp;(1)</option>
          <option value='/2024/10/'> October 2024 &nbsp;(2)</option>
          <option value='/2024/08/'> August 2024 &nbsp;(2)</option>
          <option value='/2024/05/'> May 2024 &nbsp;(1)</option>
          <option value='/2024/04/'> April 2024 &nbsp;(2)</option>
          <option value='/2024/03/'> March 2024 &nbsp;(1)</option>
          <option value='/2024/02/'> February 2024 &nbsp;(1)</option>
          <option value='/2024/01/'> January 2024 &nbsp;(1)</option>
          <option value='/2023/12/'> December 2023 &nbsp;(1)</option>
          <option value='/2023/10/'> October 2023 &nbsp;(2)</option>
          <option value='/2023/09/'> September 2023 &nbsp;(1)</option>
          <option value='/2023/08/'> August 2023 &nbsp;(1)</option>
          <option value='/2023/05/'> May 2023 &nbsp;(1)</option>
          <option value='/2023/04/'> April 2023 &nbsp;(2)</option>
          <option value='/2023/03/'> March 2023 &nbsp;(1)</option>
          <option value='/2023/02/'> February 2023 &nbsp;(1)</option>
          <option value='/2023/01/'> January 2023 &nbsp;(1)</option>
          <option value='/2022/12/'> December 2022 &nbsp;(1)</option>
          <option value='/2022/11/'> November 2022 &nbsp;(1)</option>
          <option value='/2022/10/'> October 2022 &nbsp;(5)</option>
          <option value='/2022/09/'> September 2022 &nbsp;(1)</option>
          <option value='/2022/08/'> August 2022 &nbsp;(1)</option>
          <option value='/2022/07/'> July 2022 &nbsp;(1)</option>
          <option value='/2022/05/'> May 2022 &nbsp;(1)</option>
          <option value='/2022/03/'> March 2022 &nbsp;(2)</option>
          <option value='/2022/01/'> January 2022 &nbsp;(3)</option>
          <option value='/2021/11/'> November 2021 &nbsp;(1)</option>
          <option value='/2021/10/'> October 2021 &nbsp;(2)</option>
          <option value='/2021/09/'> September 2021 &nbsp;(1)</option>
          <option value='/2021/07/'> July 2021 &nbsp;(1)</option>
          <option value='/2021/05/'> May 2021 &nbsp;(1)</option>
          <option value='/2021/04/'> April 2021 &nbsp;(2)</option>
          <option value='/2021/03/'> March 2021 &nbsp;(1)</option>
          <option value='/2021/02/'> February 2021 &nbsp;(1)</option>
          <option value='/2020/11/'> November 2020 &nbsp;(1)</option>
          <option value='/2020/10/'> October 2020 &nbsp;(4)</option>
          <option value='/2020/05/'> May 2020 &nbsp;(1)</option>
          <option value='/2020/03/'> March 2020 &nbsp;(4)</option>
          <option value='/2020/02/'> February 2020 &nbsp;(3)</option>
          <option value='/2019/06/'> June 2019 &nbsp;(3)</option>
          <option value='/2019/01/'> January 2019 &nbsp;(2)</option>
          <option value='/2018/11/'> November 2018 &nbsp;(2)</option>
          <option value='/2018/09/'> September 2018 &nbsp;(1)</option>
          <option value='/2018/08/'> August 2018 &nbsp;(1)</option>
          <option value='/2018/01/'> January 2018 &nbsp;(1)</option>
          <option value='/2017/10/'> October 2017 &nbsp;(3)</option>
          <option value='/2017/09/'> September 2017 &nbsp;(1)</option>
          <option value='/2017/08/'> August 2017 &nbsp;(6)</option>
          <option value='/2017/04/'> April 2017 &nbsp;(1)</option>
          <option value='/2017/01/'> January 2017 &nbsp;(4)</option>
          <option value='/2016/11/'> November 2016 &nbsp;(4)</option>
          <option value='/2016/09/'> September 2016 &nbsp;(2)</option>
          <option value='/2016/06/'> June 2016 &nbsp;(3)</option>
          <option value='/2016/04/'> April 2016 &nbsp;(2)</option>
          <option value='/2016/03/'> March 2016 &nbsp;(1)</option>
          <option value='/2016/01/'> January 2016 &nbsp;(3)</option>
          <option value='/2015/12/'> December 2015 &nbsp;(6)</option>
          <option value='/2015/11/'> November 2015 &nbsp;(5)</option>
          <option value='/2015/10/'> October 2015 &nbsp;(5)</option>
          <option value='/2015/09/'> September 2015 &nbsp;(9)</option>
          <option value='/2015/08/'> August 2015 &nbsp;(1)</option>
          <option value='/2015/06/'> June 2015 &nbsp;(7)</option>
          <option value='/2015/05/'> May 2015 &nbsp;(9)</option>
          <option value='/2015/04/'> April 2015 &nbsp;(9)</option>
          <option value='/2015/03/'> March 2015 &nbsp;(8)</option>
          <option value='/2015/02/'> February 2015 &nbsp;(2)</option>
          <option value='/2015/01/'> January 2015 &nbsp;(8)</option>
          <option value='/2014/12/'> December 2014 &nbsp;(3)</option>
          <option value='/2014/11/'> November 2014 &nbsp;(6)</option>
          <option value='/2014/10/'> October 2014 &nbsp;(6)</option>
          <option value='/2014/09/'> September 2014 &nbsp;(5)</option>
          <option value='/2014/08/'> August 2014 &nbsp;(4)</option>
          <option value='/2014/07/'> July 2014 &nbsp;(3)</option>
          <option value='/2014/06/'> June 2014 &nbsp;(7)</option>
          <option value='/2014/05/'> May 2014 &nbsp;(10)</option>
          <option value='/2014/04/'> April 2014 &nbsp;(5)</option>
          <option value='/2014/03/'> March 2014 &nbsp;(2)</option>
          <option value='/2014/01/'> January 2014 &nbsp;(3)</option>
          <option value='/2013/12/'> December 2013 &nbsp;(1)</option>
          <option value='/2013/11/'> November 2013 &nbsp;(2)</option>
          <option value='/2013/10/'> October 2013 &nbsp;(3)</option>
          <option value='/2013/09/'> September 2013 &nbsp;(2)</option>
          <option value='/2013/07/'> July 2013 &nbsp;(2)</option>
          <option value='/2013/06/'> June 2013 &nbsp;(2)</option>
          <option value='/2013/05/'> May 2013 &nbsp;(2)</option>
          <option value='/2013/04/'> April 2013 &nbsp;(4)</option>
          <option value='/2013/03/'> March 2013 &nbsp;(1)</option>
          <option value='/2012/11/'> November 2012 &nbsp;(2)</option>
          <option value='/2012/10/'> October 2012 &nbsp;(2)</option>
          <option value='/2012/09/'> September 2012 &nbsp;(5)</option>
          <option value='/2012/07/'> July 2012 &nbsp;(4)</option>
          <option value='/2012/06/'> June 2012 &nbsp;(2)</option>
          <option value='/2012/05/'> May 2012 &nbsp;(2)</option>
          <option value='/2012/04/'> April 2012 &nbsp;(3)</option>
          <option value='/2012/03/'> March 2012 &nbsp;(1)</option>
          <option value='/2012/02/'> February 2012 &nbsp;(1)</option>
          <option value='/2012/01/'> January 2012 &nbsp;(2)</option>
          <option value='/2011/12/'> December 2011 &nbsp;(4)</option>
          <option value='/2011/10/'> October 2011 &nbsp;(1)</option>
          <option value='/2011/09/'> September 2011 &nbsp;(1)</option>
      </select>
      <script type="text/javascript">
      (function() {
        var dropdown = document.getElementById("archives-dropdown-3");
        function onSelectChange() {
          if (dropdown.options[dropdown.selectedIndex].value !== "") {
            document.location.href = this.options[this.selectedIndex].value;
          }
        }
        dropdown.onchange = onSelectChange;
      })();
      </script>
    </div></div>
  </div>
</div>
